:host {
  padding: 5em 0;
}

:host /deep/ .match {
  color: darkred;
}

.completer-limit /deep/ .completer-dropdown {
  overflow-y: auto;
  max-height: 20rem;
}

:host >>> .completer-image-holder {
  width: 200px;
}

:host >>> .completer-image {
  width: 300px;
}

:host >>> .completer-row {
}

.completer-dropdown-holder {
  position: absolute;
  background: white;
  border: solid #000;
  border-width: 1px 1px;
  width: 20em;
}

.completer-item-text .completer-item-text-image {

}

.completer-title {

}

/*
/deep/ .completer-input {
  display: block;
  width: 75%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
} */
