<div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="aaf-login-box">
        <p><%= TranslationService.t('aaf-title') %></p>
        <div class="aaf-login">
          <a class="aaf-login-a" href='<%=sails.config.auth[branding].aaf.loginUrl%>'><%= TranslationService.t('aaf-login') %></a>
        </div>
      </div>
    </div>
</div>
