<div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="col-xs-12 aaf-login-box">
        <p class="text-center"><%= TranslationService.t('aaf-title') %></p>
        <div class="text-center aaf-login">
          <a class="text-center aaf-login-a" href='<%=sails.config.auth[branding].aaf.loginUrl%>'><%= TranslationService.t('aaf-login') %></a>
        </div>
      </div>
    </div>
</div>
