$font-family-code: 'NB Akademie Std';
$font-family-headings-code: 'NB International Std';

$a-color:#000;

$branding-primary: #ff2305;
$branding-secondary: #500005;

/* The branding areas colours */
$site-branding-area-background: #fff;
$site-branding-area-heading-color: #000;

$panel-branding-background-color: $branding-primary;
$panel-branding-color: #fff;

$mainmenu-branding-background-color: #000000;
$main-menu-item-color: #ebebeb;

$header-branding-link-color: #888;
$header-branding-background-color: #ffffff;//#f4f4f4;
$logo-link-color-branding: #000000;//#999;

/* The text colour and background colour of focused main menu item */
$main-menu-active-item-color: #222;
$main-menu-active-item-background-color: #ebebeb;

/* The text colour and background colour of an unfocused main menu item*/
$mainmenu-inactive-item-color: #ccc;
$mainmenu-inactive-item-background-color: #222222;

/* The text colour and background-color of a selected main menu item */
$mainmenu-selected-item-color: #000;
$mainmenu-selected-item-background-color: $main-menu-active-item-background-color;
$mainmenu-selected-item-hover-color: #0f4beb;

/* The text colour and background-color for the footer */
$footer-bottom-area-branding-background-color: #000;
$footer-bottom-area-branding-color: #fff;

$maincontent-heading-text-branding-color: #000;

@mixin border-radius($radius) {
	border-radius: $radius !important;
	-webkit-border-radius: $radius !important;
	-moz-border-radius: $radius !important;
}

@mixin font-smoothing($value: antialiased) {
	@if $value == antialiased {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@else {
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_glyphicons";
@import "../../node_modules/font-awesome-sass/assets/stylesheets/_font-awesome";

@import "uts-fonts";
//@import "theme";
@import "uts-theme";

@import "responsive";
@import "uppy";

@import "modal";
