<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="copyright">
        <p>&copy; 2019 Queensland Cyberinfrastructure Foundation and University of Technology Sydney</p>
      </div>
    </div>

  </div>
</div>