<div class="col-sm-10">
  <div class="logo" style="display:inline;">
    <h1>
      <?xml version="1.0" encoding="UTF-8"?>
      <svg
          version="1.1"
          xmlns:dc="http://purl.org/dc/elements/1.1/"
          xmlns:cc="http://creativecommons.org/ns#"
          xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
          xmlns:svg="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xmlns="http://www.w3.org/2000/svg"
          width="250"
          height="70"
          viewBox="0, 0, 320, 80"
          preserveAspectRatio="xMidYMid meet"
          id="svg2"
          aria-label="<%= TranslationService.t('logo-alt-text') %>">
         <defs
             id="defs_BDDF1DC8"/>
         <metadata
             id="metadata7">
            <rdf:RDF>
               <cc:Work
                   rdf:about="">
                  <dc:format>image/svg+xml</dc:format>
                  <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                  <dc:title></dc:title>
               </cc:Work>
            </rdf:RDF>
         </metadata>
         <g
             id="layer_Paper"
             style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-opacity:1;fill-rule:nonzero;stroke-linecap:square;stroke-linejoin:miter;stroke-width:1;stroke-miterlimit:10">
            <g
                id="30210578">
               <polyline
                   style="fill:none;stroke:none"
                   id="E5D4A078"
                   points="5.720387322317,4.526677102405 5.720387322317,57.5289631924 163.156707484,57.5289631924 163.156707484,4.526677102405 5.720387322317,4.526677102405 5.720387322317,4.526677102405"/>
               <polyline
                   style="fill:#0A0A08;stroke:none;fill-rule:evenodd"
                   id="F5D4A078"
                   points="97.2008570776,27.8034919097 106.887342119,27.8034919097 106.887342119,64.5063824981 116.783082237,64.5063824981 116.783082237,27.8034919097 126.469567277,27.8034919097 126.469567277,19.0080284895 97.2008570776,19.0080284895 97.2008570776,27.8034919097"/>
               <g
                   id="26D4A078">
                  <polyline
                      style="fill:none;stroke:none"
                      id="06D4A078"
                      points="5.720387322317,18.3150116736 5.720387322317,71.3172983759 163.156707484,71.3172983759 163.156707484,18.3150116736 5.720387322317,18.3150116736 5.720387322317,18.3150116736"/>
                  <path
                      style="fill:#0A0A08;stroke:none;fill-rule:evenodd"
                      id="16D4A078"
                      d="M78.5749051231,50.4502918012 C78.5749051231,54.1178808368 76.4283530372,56.4039363339 73.0397708139,56.4039363339 C69.5791868436,56.4039363339 67.5046365051,54.1178808368 67.5046365051,50.4480417465 L67.5046365051,19.0080284975
      L57.6066463323,19.0080284975 L57.6066463323,50.5875451332 C57.6066463323,59.5877636257 63.8325474025,65.1993998557 73.0375207593,65.1993998557 C82.2402440614,65.1993998557 88.4661451319,59.5900136803 88.4661451319,50.5875451332
      L88.4661451319,19.0080284975 L78.5771551778,19.0080284975 L78.5771551778,50.4502918012 M152.086438866,37.4989773903 L146.411801172,35.3524252799 C143.297725609,34.1733966574 142.744212179,32.1663479336 142.744212179,30.850065979
      C142.744212179,28.3570054567 144.544255856,26.4872100648 147.725833057,26.4872100648 C150.839908619,26.4872100648 152.914458958,28.5640104819 152.914458958,31.8198395217 L152.914458958,33.0663697828 L162.186933953,33.0663697828
      L162.186933953,32.0268445469 C162.186933953,23.5778894371 156.375042928,18.3150116736 147.725833057,18.3150116736 C138.660363085,18.3150116736 133.401985491,24.5476629797 133.401985491,31.4733311097 C133.401985491,38.122242521 136.862569462,42.0710883846 143.437228995,44.5618988524
      L149.800383396,46.9852076816 C152.637702243,48.0944846107 153.744729104,49.6177715906 153.744729104,51.9038270877 C153.744729104,55.0876543794 151.670178766,56.9574497713 147.93283808,56.9574497713 C144.197747448,56.9574497713 141.913942032,55.2249077114 141.913942032,51.5573186757
      L141.913942032,49.8945283092 L132.571715345,49.8945283092 L132.571715345,51.4875669824 C132.571715345,59.9365220922 139.074373131,65.1993998557 147.93283808,65.1993998557 C157.61932312,65.1993998557 163.156707484,59.3132569617 163.156707484,50.9340535451
      C163.156707484,42.552600074 157.756576451,39.6455295008 152.086438866,37.4989773903 M14.2953453919,37.7599837267 L9.997741111416,33.4578792873 L5.697886776314,37.7599837267 L9.995491056833,42.0620881661
      L14.2975954465,37.7599837267 M23.9210789585,38.7860086348 L27.1949083974,42.0620881661 L31.4925126779,37.7599837267 L27.1139064319,33.3768773208 C25.3519082898,31.6135273781 22.4940490225,31.6124315435 20.7306991001,33.3744297059
      L5.697886776314,48.4184924764 L9.995491056833,52.7205969159 L23.9233290132,38.7860086348 M22.8973041169,57.02495141 L18.5974497818,52.7205969159 L15.3236203429,55.9989265017 L12.0497909041,52.7205969159
      L7.745436459674,57.02495141 L12.1262927604,61.4103078704 C13.8865323868,63.1736578131 16.7429660958,63.1761792062 18.5063160181,61.4159395594 L22.8950540623,57.0227013553 M23.9210789585,64.6031353806 L20.6472495197,61.3270558494
      L16.3473951846,65.6314103434 L20.7282514852,70.0145167493 C22.4902496271,71.777866692 25.3481088946,71.7789625265 27.1114588171,70.0169643642 L31.4947627325,65.6314103434 L27.197158452,61.3270558494 L23.9210789585,64.6031353806"/>
               </g>
               <path
                   style="fill:#0A0A08;stroke:none;fill-rule:evenodd"
                   id="36D4A078"
                   d="M32.5185375741,55.9989260663 L29.2447081353,52.7205965183 L24.9471038548,57.0227009081 L29.3279601554,61.4103073724 C31.0881997819,63.1736572948 33.9446334908,63.1761786878 35.7079834131,61.4159390613 L40.0922213481,57.0249509626
      L35.7946170675,52.7205965183 L32.5185375741,55.9989260663 M33.5445624705,48.416242074 L37.8466668601,52.7205965183 L42.1442711407,48.4184921286 L37.8444168056,44.1141376843 L33.546812525,48.416242074 M23.9210789585,47.3947172869
      L20.6472495197,44.1163877389 L16.3496452392,48.4184921286 L20.7282514852,52.8015984838 C22.4902496272,54.5649484061 25.3481088946,54.5660442407 27.1114588169,52.8040460986 L42.1442711407,37.759983502 L37.8444168056,33.4556290577
      L23.9210789585,47.3924672323 M29.654218072,10.2283154515 L23.9233290131,4.486176119643 L18.187939845,10.2238153423 L23.9233290131,15.9659546742 L29.6564681266,10.2283154515"/>
               <path
                   style="fill:#0A0A08;stroke:none;fill-rule:evenodd"
                   id="46D4A078"
                   d="M16.7681553942,23.2898823879 L20.8790051432,23.2898823879 L20.8790051432,31.4350800295 C22.755112177,30.3278099806 25.0847956855,30.3278099806 26.9609027193,31.4350800295 L26.9609027193,23.2898823879 L31.0740025228,23.2898823879
      L33.7673178756,25.9854477953 L39.5004569891,20.2478085726 L33.7673178756,14.5101693499 L31.0740025228,17.2057347572 L16.7681553942,17.2057347572 L14.0748400415,14.5101693499 L8.341700928001,20.2478085726
      L14.0748400415,25.9854477953 L16.7681553942,23.2898823879"/>
               <text
                   id="FB594688"
                   style="stroke:none"
                   font-family="NB Akademie Std"
                   font-size="79.3348522675"
                   font-weight="normal"
                   font-style="normal"
                   transform="matrix(0.680675753313,0,0,0.680675753313,57.2772699686,5.728773046826)">
                  <tspan x="184.370250029" y="81.9403008267">Stash</tspan>
               </text>
            </g>
         </g>
      </svg>

    </h1>
  </div>
</div>
